configuration {
    modi: "run,drun,window";
    show-icons: true;
    icon-theme: "Papirus";
    display-drun: "Apps";
    display-run: "Run";
    display-window: "Window";
    drun-display-format: "{name}";
    window-display-format: "{title}  {class}";
    font: "Liberation Mono 10";
    terminal: "urxvt";
}
